.myApp {
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  padding: 1rem 0 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header Button {
  background: none;
  border: 0.031rem solid #787f83 ;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.header Button:hover{
  border: 0.07rem solid #ff6600;
}

.header .topButtons {
  display: flex;
  gap: 1rem;
}

img {
  width: 12rem;
  height: 11rem;
  border-radius: 50%;
  box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 13px -1px rgba(0,0,0,0.75);
}

.top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bio {
  width: 70%;
}

.divider {
  width: 1px;
  height: 12rem;
  background-color: #787f83;
  margin-bottom: 1.5rem;
}

hr {
  margin-bottom: 2rem;
}

.skills {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
}

.li {
  border: 0.031rem solid #787f83;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.middle {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.eduTrain {
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.edu {
  display: flex;
  gap: 6rem;
  padding-left: 7rem;
}